
<div class="menu">
      <div class="avatar">
    	   <img class="rounded-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" style="max-width: 70%; height: auto;">
      </div>
      <h3><strong>Hayda Almeida</strong></h3>
	 <hr width="70%"> 	
	<p><a href="index.html">About </a> </p>
	<!--p><a href="publications.html">Publications </a></p-->
	<p><a href="https://scholar.google.ca/citations?user={{ site.google_scholar }}">Publications</a></p>
	<p><a href="projects.html">Projects </a></p>
	<p><a href="service.html">Service </a></p>
	<p><a href="contact.html">Contact </a></p>
	<hr width="70%"> 
        {% include social.html %}
</div>
